<link href="//cdn.loadto.net/video_player/vj5/styles/video-ads.all.css" rel="stylesheet">
<div class="video-advert-block" >
    <video id="video_advert" class="video-advert video-js vjs-default-skin"
           preload="auto"
           loop
           autoplay
           controls
           src="//cdn.loadto.net/video_player/video/flvto_video.mov"
    ></video>
</div>
<script>
    (function (win) {
        var videoEl = document.querySelector('#video_advert'),
            wrapper = videoEl.parentNode.parentNode,
            s = document.createElement('script');
        s.setAttribute( 'src', '//cdn.loadto.net/video_player/vj5/scripts/video-ads.all.js' );
        s.onload = function () {
            videojs.plugin('ads-setup', function () {
                var player = this;
                var pluginSettings = {
                    playAdAlways: true,
                    adCancelTimeout: 20000,
                    adsEnabled: true,
                    vpaidFlashLoaderPath: '//cdn.loadto.net/video_player/vj5/scripts/VPAIDFlash.swf',
                    //adTagUrl: 'https://ads.aerserv.com/as/?plc=1000741&cb=&ip=&ua=&url=&vpaid=&vpw=&vph=&age=&yob=&gender=&coppa',
                    adTagUrl: 'http://sda.vidcr.com/c/sid/2082/?SITE_URL=www.flvto.biz',
                };
                var vastAd = player.vastClient(pluginSettings);

                player.on('reset', function () {
                    if (player.options().plugins['ads-setup'].adsEnabled) {
                        vastAd.enable();
                    } else {
                        vastAd.disable();
                    }
                });

                player.on('vast.aderror', function(evt) {
                    var error = evt.error;
                    if(error && error.message) {
                        console.log(error.message);
                    }
                });
            });

            var adPluginOpts = {
                plugins: {
                    "ads-setup": {
                        adCancelTimeout: 20000,
                        adsEnabled: true,
                    }
                }
            };

            var videoPlayer = win.playerV = videojs(videoEl, adPluginOpts);
            videoPlayer.on('play', function () {
                videoPlayer.volume(0);
            });
        };
        wrapper.appendChild(s);
    })(window);
</script>