<link href="//cdn.loadto.net/video_player/styles/video-advast.css" rel="stylesheet">
<div class="video-advert-block" >
    <video id="video_advert" class="video-advert video-js vjs-default-skin"
           preload="auto"
           loop
           autoplay
           controls
           src="//cdn.loadto.net/video_player/video/flvto_video.mov"
    ></video>
</div>
<script>
    (function (win) {
        var cover = document.getElementById('video_advert').parentNode,
            wrapper = cover.parentNode,
            s = document.createElement( 'script' );
        s.setAttribute( 'src', '//cdn.loadto.net/video_player/scripts/video-advast-min.js' );
        s.onload = function () {
            var vdAdvert = window.player = win.videojs('video_advert');
            vdAdvert.volume(0);
            vdAdvert.on('adtimeout', function () {
                vdAdvert.play();
            });
            vdAdvert.ads({
                timeout: 5000,
            });
            vdAdvert.vast({
                url: 'http://sda.vidcr.com/c/sid/2082/?SITE_URL=http://flvto.biz',
                skip: -1
            });
        };
        wrapper.appendChild(s);
    })(window);
</script>