.video-advert-block {
    position: relative;
    width: auto;
    padding-top: 56.25%;
}
.video-advert {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}